body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1, .lead {
    color: #5a5a5a;
}

.list-group-item {
    border: none;
    background-color: #f8f9fa;
}